<template>
    <div class="text-sm lg:min-h-[40vh]">
        <h3 class="font-bold mb-3 capitalize text-base">Pendaftaran Kelas Bahasa Mandarin</h3>
        <p class="mb-8">
            Pendaftaran kelas bahasa Mandarin dibuka setiap
            awal semester, yaitu di minggu pertama dan kedua
            perkuliahan regular dimulai sesuai kalender akademik. Mahasiswa yang telah menyelesaikan administrasi
            perkuliahan termasuk melakukan KRS (Kartu Rencana Studi) bisa melakukan pendaftaran secara online
            melalui OASIS dengan tahapan sebagai berikut.
        </p>
        <div class="flex gap-8 text-sm lg:min-h-[40vh]">
            <div class="lg:w-1/5 md:w-1/3 space-y-6 py-4 md:block hidden">
                <img src="/img/asset-22.webp" alt="Step 1 : kelas bahasa mandarin internal iik bhakta">
                <img src="/img/asset-23.webp" alt="Step 2 : kelas bahasa mandarin internal iik bhakta">
                <img src="/img/asset-24.webp" alt="Step 3 : kelas bahasa mandarin internal iik bhakta">
            </div>
            <div class="md:w-2/3 lg:w-4/5 px-2 md:px-0">
                <ol class="list-decimal list-outside space-y-2">
                    <li>Mahasiswa Log in akun OASIS, pilih menu Kelas Bahasa.</li>
                    <li>Pilih kelas Mandarin, klik add.</li>
                    <li>Tahun Ajaran dan Semester diisi sesuai dengan tahun akademik dan semester
                        yang berlangsung, Tahap diisi level kelas Mandarin yang ditempuh (level 1 atau
                        level 2), kemudian pilin Kelas yang dikehendaki (pastikan tidak kres dengan
                        dalam kelas yang dituju sudah penuh, maka mahasiswa memilih jadwal yang
                        lain.)</li>
                    <li>Dalam satu rombel, dibatasi 35-40 kuota mahasiswa lintas prod. Apabila kuota dalam
                        kelas yang dituju sudah penuh, maka mahasiswa memilih jadwal yang lain.</li>
                    <li>
                        Mahasiswa diperbolehkan mengajukan request pindah kelas di OASIS apabila
                        ternyata bentrok dengan jadwal perkuliahan yang lain. Mahasiswa harus
                        mengkonfirmasi pengajuan pindah kelas ini ke Telegram
                        <a class="text-sky-600  font-bold" href="https://t.me/tanyabahasa">@tanyabahasa</a>
                        untuk mendapat tindaklanjut, ajuan disetujui atau ditolak. Request pindah
                        kelas dapat diajukan sebelum batas akhir pendaftaran kelas bahasa dengan
                        mempertimbangkan kapasitas kelas yang dituju dan alasan
                    </li>
                    <li>
                        Apabila mahasiswa mengalami kendala atau pertanyaan saat mendaftar, bisa
                        menghubungi Telegram
                        <a class="text-sky-600  font-bold" href="https://t.me/tanyabahasa">@tanyabahasa</a>
                        sebelum batas akhir pendaftaran.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</template>