<template>
    <div class="space-y-3 lg:min-h-[40vh] text-sm">
        <h1 class="font-bold capitalize text-base">sasaran peserta</h1>
        <p class="text-justify">Program kelas bahasa Mandarin bersifat wajib bagi seluruh
            mahasiswa IIK Bhakta Kediri Program studi D3, D4 dan S1. Kelas bahasa Mandarin terdiri dai 2 level/tahap dengan
            informasi sebagai berikut:
        </p>
        <ol class="list-decimal list-outside !mt-0">
            <li>Mahasiswa Program Studi D3, D4, dan S1 program reguler dan progsus bisa mengambil kelas bahasa Mandarin
                level 1 di semester 2 dan melanjutkan mengambil level 2 di semester berikutnya apabila sudah lulus level 1.
                Level 1 menjadi prasyarat mahasiswa untuk bisa mengambil level 2.</li>
            <li>Mahasiswa Program RPL mengambil kelas bahasa Mandarin di semester 1 dan melanjutkan mengambil level 2 di
                semester berikutnya apabilsa sudah lulus level 1. Level 1 menjadi prasyarat mahasiswa untuk bisa mengambil
                level 2.</li>
            <li>Apabila mahasiswa tidak lulus level 1 atau level 2, maka mahasiswa mengulang mengambil kelas bahasa Mandarin
                di level tersebut pada semester selanjutnya.</li>
        </ol>
    </div>
</template>

<script setup>
</script>

<style scoped>
    ol>li {
        @apply ml-4
    }
</style>