<template>
    <div class="text-sm lg:min-h-[40vh]">
        <p class="font-bold text-base mb-2">Tes Bahasa Mandarin</p>
        <p class="mb-6 mt-0">Untuk mengetahui kompetensi mahasiswa selama belajar, maka dilakukan evaluasi dalam bentuk tes
            yang terjadwal pada pertemuan 11 dan 12 yaitu tes lisan dan tulis Mandarin. standar oebukauab duarahkan untuk
            mengukur kemampuan dan keterampilan berbahasa Mandarin, meliputi penilaian lisan, performance, dan tulis.</p>
        <p class="font-bold text-base mb-2">Sertifikat Mandarin</p>
        <p class=" mt-0">Mahasiswa yang sudah lulus dan menyelesaikan 2 level kelas bahasa Mandarin akan mendapatkan
            sertifikat Mandarin dari Pusat Bahasa IIK Bhakta. Sertifikat ini menjadi salah satu syarat wisuda bagi
            mahasiswa.
        </p>
    </div>
</template>
