<template>
    <div class="text-sm lg:min-h-[40vh]">
        <h3 class="font-bold text-base mb-3">Pendaftaran TOEIC</h3>
        <p class="mb-8">
            Pendaftaran TOEIC dibuka setidaknya dua kali dalam satu tahun akademik yaitu terjadwal di bulan
            Januari/Februari dan Juli/Agustus. Informasi tentang pendaftaran TOEIC ini akan dikeluarkan melalui
            surat edaran pemberitahuan TOEIC oleh Direktur Akademik ke fakultas dan prodi melalui e-letter.
            Mahasiswa melakukan pendaftaran TOEIC melalui OASIS selambat-lambatnya 2 minggu sebelum
            pelaksanaan tes dengan tahapan sebagai berikut.
        </p>
        <div class="flex gap-8 text-sm">
            <div class="lg:w-1/5 md:w-1/3 space-y-2 md:block hidden">
                <img src="/img/asset-22.webp" alt="Step 1 : pendaftaran toeic internal iik bhakta">
                <img src="/img/asset-30.webp" alt="Step 2 : pendaftaran toeic internal iik bhakta">
                <img src="/img/asset-24.webp" alt="Step 3 : pendaftaran toeic internal iik bhakta">
                <img src="/img/asset-28.webp" alt="Step 4 : pendaftaran toeic internal iik bhakta">
            </div>
            <div class="md:w-2/3 lg:w-4/5 px-3">
                <ol class="list-decimal list-outside space-y-2">
                    <li>Masuk OASIS di menu Pendaftaran Tes Kelas Bahasa.</li>
                    <li>Pilih jenis tes yang akan diikuti, klik TOEIC.</li>
                    <li>
                        Tahun Ajaran diisi sesuai dengan tahun akademik yang sedang
                        ber langsung. Tanggal, jam dan sesi tes diisi sesuai dengan jadwal tes yang
                        dikehendaki. Kolom note wajib diisi nomor Whatsapp aktif peserta tes. Klik
                        Simpan.
                    </li>
                    <li>Pembayaran TOEIC dilakukan oleh mahasiswa melalui
                        <a href="https://iik.ac.id/payment" class="font-medium">https://iik.ac.id/payment</a> , dengan
                        memasukkan kode tagihan yang muncul setelah mahasiswa melakukan pendaftaran TOEIC di OASIS seperti
                        pada tampilan berikut.
                    </li>
                    <li>
                        Apabila mahasiswa sudah membayar TOEIC maka status pembayarannya
                        akan menunjukkan sudah bayar dan selanjutnya mahasiswa bisa
                        mengunggah bukti pembayaran tes ke OASIS di menu upload bukti.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</template>