<template>
    <div class="space-y-3 lg:min-h-[40vh] text-sm">
        <h1 class="font-bold capitalize text-base">sasaran peserta</h1>
        <p class="text-justify">TOEIC final test bersifat wajib bagi mahasiswa D3, D4 dan S1 program reguler dan non reguler
            yang akan lulus/wisuda. Mahasiswa yang sudah lulus kelas bahasa Inggris bisa mengikuti TOEIC
            untuk mendapatkan sertifikat/score report yang bisa digunakan sebagai salah satu syarat
            wisuda. Dalam pelaksanaan TOEIC dan tes English for Mapping, IIK Bhakta telah menjalin
            kerjasama dengan International Test Center (ITC) sebagai lembaga resmi
            penyelenggara tes kemampuan bahasa Inggris yang diakui secara internasional. ITC sebagai
            CMD (Country Master Distributor) dari ETS (Educational Testing Service) merupakan
            satu-satunya perwakilan resmi ETS di Indonesia yang mengelola berbagai produk dan layanan
            yang disediakan ETS seperti TOEIC, TOEFL, English Discovery Online (EDO), Propell Workshop
            dan ELTeach. Kerja sama ini dilakukan untuk mendukung dan mempersiapkan mahasiswa baru
            hingga calon lulusan untuk siap bersaing secara global dengan sertifikasi bahasa Inggris yang
            valid dan diakui secara internasional. Dengan mengikuti tes ini, dapat diketahui sejauh mana
            kemampuan berkomunikasi bahasa Inggris mahasiswa sebagai bekal mereka untuk memasuki
            dunia kerja.
        </p>
    </div>
</template>

<script setup>
</script>