<template>
    <div class="space-y-3 lg:min-h-[40vh] text-sm">
        <h1 class="font-bold capitalize text-base">TOEIC Public</h1>
        <p>IIK Bhakta menjadi tempat penyelenggara tes TOEIC yang diselenggarakan oleh ITC. Tes TOEIC sangat diperlukan
            sebagai syarat pengajuan beasiswa, melamar pekerjaan dan keperluan lainya. Adapun jadwal pelaksanaanya dapat
            disimak berikut:</p>
        <p class="font-bold">Jadwal TOEIC Listening & Reading Public Test</p>
        <p class="font-bold">Hari kerja: 09.00 - 11.30 (sesuai waktu setempat):</p>
        <div class="bg-[#0d467d] px-4 md:min-w-fit w-3/4  py-2 rounded-xl shadow-sm my-3">
            <div id="date" class="grid md:grid-cols-3 text-white divide-y divide-slate-100">
                <p>24 Januari 2023</p>
                <p>7 Februari 2023</p>
                <p>21 Maret 2023</p>
                <p>18 April 2023</p>
                <p>23 Mei 2023</p>
                <p>6 Juni 2023</p>
                <p>25 Juli 2023</p>
                <p>8 Agustus 2023</p>
                <p>26 September 2023</p>
                <p>10 Oktober 2023</p>
                <p>21 November 2023</p>
                <p>19 Desember 2023</p>
            </div>
        </div>
        <p class="font-bold">Ketentuan tes:</p>
        <ol class="!mt-0 list-outside list-decimal">
            <li>Peserta daat langsung mendaftar melalui website resmi ITC <a href="https://smartcart.id/register"
                    class="text-sky-600">https://smartcart.id/register</a></li>
            <li>Biaya tes Rp. 675.000 dan langsung dibayarkan pada pihak ITC atau membayar melalui marketplace Tokopedia <a
                    href="https://www.tokopedia.com/belajar/" class="text-sky-600">https://www.tokopedia.com/belajar/</a>
            </li>
            <li>Tidak ada minimal peserta</li>
        </ol>

    </div>
</template>

<script setup>

</script>

<style scoped>
    ol> li {
        @apply ml-4
    }

    td {
        @apply  text-white font-bold px-4 py-1 text-sm
    }

    #date>p {
        @apply px-2 lg:px-4 py-1 lg:py-2 md:text-left text-sm text-center
    }
    #date>p:nth-child(2),
    #date>p:nth-child(3){
        @apply md:!border-t-0
    }
</style>