<template>
  <div>
    <NuxtLayout>
      <NuxtLoadingIndicator />
      <NuxtPage />
    </NuxtLayout>
  </div>
</template>

<style>
html::-webkit-scrollbar {
    display: none;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
* {
  font-family: 'Montserrat', sans-serif;
}
.page-enter-active,
.page-leave-active {
  transition: all 0.1s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.layout-enter-active,
.layout-leave-active {
  transition: all 0.2s;
}
.layout-enter-from,
.layout-leave-to {
  filter: grayscale(1);
}

.btn-wrap {
    @apply w-1/3 md:flex flex-col hidden gap-2 mb-4 md:py-8
}

.btn-wrap>.side-btn{
    @apply lg:font-bold font-semibold hover:mx-2 transition-all py-0.5 max-w-fit text-sm lg:text-base
}
.btn-wrap>a.side-btn.router-link-active, 
.btn-wrap>a.side-btn.router-link-exact-active
 {
    @apply text-white rounded-full bg-red-500 lg:px-4 px-3
}

.btn-wrap-mbl {
    @apply flex gap-1 md:hidden
}

.btn-wrap-mbl>.side-btn-mbl{
    @apply text-sm bg-[rgb(13,70,125)] text-white w-full px-1 py-1.5 text-center rounded-t-lg hover:bg-sky-600
}

.btn-wrap-mbl>a.side-btn-mbl.router-link-active, 
.btn-wrap-mbl>a.side-btn-mbl.router-link-exact-active
 {
    @apply text-[rgb(13,70,125)] font-semibold bg-white transition-all
}
</style>