<template>
    <div>
        <h1 class="font-bold capitalize text-base mb-3">kelas bahasa inggris internal</h1>
        <div class="md:flex gap-8 text-sm lg:min-h-[40vh]">
            <div class="lg:w-1/5 md:w-1/3 space-y-6 py-4 md:block hidden">
                <img src="/img/asset-22.webp" alt="Step 1 : kelas bahasa inggris internal iik bhakta">
                <img src="/img/asset-26.webp" alt="Step 2 : kelas bahasa inggris internal iik bhakta">
                <img src="/img/asset-24.webp" alt="Step 3 : kelas bahasa inggris internal iik bhakta">
            </div>
            <div class="lg:w-4/5 md:w-2/3">
                <ol class="list-decimal list-outside space-y-2 px-4 md:px-0">
                    <li>Log in akun OASIS, pilih menu Kelas Bahasa.</li>
                    <li>Pilih kelas English, klik add.</li>
                    <li>Tahun Ajaran dan Semester diisi sesuai dengan tahun akademik dan semester yang
                        berlangsung, Tahap diisi 1 (arena kelas bahasa Inggris hanya 1 tahap/level), kemudian
                        pilih Kelas yang dikehendaki. Pastikan tidak bentrok dengan jadwal perkuliahan lainnya,
                        lalu ik Simpan.</li>
                    <li>Dalam satu rombel, dibatasi 35-40 kuota mahasiswa lintas prod. Apabila kuota dalam
                        kelas yang dituju sudah penuh, maka mahasiswa memilih jadwal yang lain.</li>
                    <li>Mahasiswa diperbolehkan mengajukan request pindah kelas di OASIS apabila ternyata
                        bentrok dengan jadwal perkuliahan yang lain. Mahasiswa harus mengkonfirmasi penga
                        juan pindah kelas ini ke Telegram <a class="text-indigo-700 font-semibold"
                            href="https://t.me/tanyabahasa">@tanyabahasa</a> untuk mendapat
                        tindaklanjut, ajuan
                        disetujui atau ditolak. Request pindah kelas dapat diajukan sebelum batas akhir
                        pendaftaran kelas bahasa dengan mempertimbangkan kapasitas kelas yang dituju dan
                        alasan pindah kelas.</li>
                    <li>Apabila mahasiswa mengalami kendala atau pertanyaan saat mendaftar, bisa
                        menghubungi Telegram <a class="text-indigo-700 font-semibold"
                            href="https://t.me/tanyabahasa">@tanyabahasa</a> sebelum
                        batas akhir
                        pendaftaran.</li>
                </ol>
            </div>
        </div>
    </div>
</template>