<template>
    <div class="space-y-3 lg:min-h-[40vh] text-sm">
        <h1 class="font-bold capitalize text-base">sasaran peserta</h1>
        <p class="text-justify">Program kelas bahasa Inggris merupakan program persiapan TOEIC yang wajib ditempuh oleh
            mahasiswa IIK Bhakta Kediri. Program ini berlaku bagi mahasiswa prodi D3, D4 dan S1 program
            reguler dan non regular, dengan ketentuan sebagai berikut:
        </p>
        <ol class="list-decimal list-outside !mt-0">
            <li>Mahasiswa prodi D3 (program reguler dan progsus) bisa mengambil kelas ini mulai semester 3.</li>
            <li>Mahasiswa prodi D4/S1 (program reguler) bisa mengambil kelas ini mulai semester 5.</li>
            <li>Mahasiswa prodi D4/S1 (program non-reguler RPL) wajib mengambil kelas ini pada semester 1.</li>
        </ol>
        <p>
            Mahasiswa wajib mengikuti tes English for Mapping terlebih dulu sebagai prasyarat mendaftar dan
            mengikuti kelas bahasa Inggris. Penjelasan mengenai tes English for Mapping ini bisa dilihat pada
            Panduan Tes English for Mapping.
        </p>
    </div>
</template>

<script setup>
</script>

<style scoped>
    ol>li {
        @apply ml-4
    }
</style>