<template>
    <div class="space-y-3 lg:min-h-[40vh] text-sm">
        <h1 class="font-bold capitalize text-base">kelas bahasa inggris umum</h1>
        <p> Selain memfasilitasi kelas Bahasa Inggris untuk internal, Pusat Bahasa IIK Bhakta juga membuka kelas bahasa
            untuk umum yaitu “TOEIC Preparation”. Kelas umum ini dilaksanakan kurang lebih dua bulan dan
            pembelajarannya dilakukan secara online. Jumlah pertemuan dalam kelas ini sebanyak 14x dengan pertemuan
            rutin 2x per minggunya. Durasi pembelajaran 90 menit dan didampingi oleh tim pengajar Pusat Bahasa yang
            kompeten dibidangnya. <br>
            Setelah mengikuti kelas bahasa ini, peserta diharapkan langsung mengikuti tes TOEIC yang bekerjasama
            langsung antara Pusat Bahasa IIK Bhakta dengan ITC (International Test Center). Tes TOEIC akan dilaksanakan
            dengan metode Paper Based Test (PBT) di kampus IIK Bhakta. Peserta juga akan mendapat sertifikat TOEIC
            yang berlisensi resmi dari ITC.
        </p>
        <p class="font-bold">
            Fasilitas yang diperoleh peserta:
        </p>
        <ol class="!mt-0 list-decimal list-outside">
            <li>Pembelajaran disesuaikan dengan materi TOEIC dari ITC yang sudah berstandar internasional.</li>
            <li>Untuk meningkatkan skill, kami menyediakan buku modul khusus TOEIC dari ITC yang dapat dibeli di Bhakta
                Shop senilai Rp 200.000.</li>
            <li>Praktis dan mudah karena pembelajaran dilakukan secara online.</li>
            <li>Tutor komunikatif dan kompeten dibidangnya.</li>
            <li>Tips dan Trik mengerjakan soal TOEIC.</li>
        </ol>
        <p class="font-bold">
            NB:
        </p>
        <ol class="!mt-0 list-decimal list-outside">
            <li>Kelas akan dibuka dengan syarat minimal terisi 5 peserta.</li>
            <li>Juga tersedia kelas privat dengan waktu pembelajaran yang dapat dipilih antara hari Senin-Jumat pukul
                07:00-15:00 WIB</li>
            <li>Pendaftaran maksimal H-3 sebelum tanggal dimulainya kelas</li>
        </ol>
        <div class="relative overflow-x-auto md:rounded-2xl rounded-lg border border-[#0d467d] ">
            <table class="hidden w-full text-sm text-center">
                <thead class="">
                    <tr class="bg-[#0d467d] divide-x divide-white">
                        <th scope="col" class="px-6 py-1.5">
                            Biaya Kelas "TOEIC Preparation Reguler"
                        </th>
                        <th scope="col" class="px-6 py-1.5">
                            Biaya privat "TOEIC Preparation"
                        </th>
                        <th scope="col" class="px-6 py-1.5">
                            Biaya tes TOEIC
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td class="px-6 py-2">
                            Rp. 425.000
                        </td>
                        <td class="px-6 py-2 bg-indigo-100">
                            Rp. 700.000
                        </td>
                        <td class="px-6 py-2 ">
                            Rp. 675.000
                        </td>
                    </tr>
                </tbody>
            </table>
            <table id="tbl-mbl" class="w-full text-sm text-left">
                <tbody class="divide-y divide-white">
                    <tr>
                        <th class="w-1/2 bg-[#0d467d]">Biaya Kelas "TOEIC Preparation Reguler"</th>
                        <td>Rp. 425.000</td>
                    </tr>
                    <tr>
                        <th class="bg-[#0d467d]">Biaya Privat "TOEIC Preparation"</th>
                        <td class=" border-y border-[#0d467d] bg-sky-100">Rp. 700.000</td>
                    </tr>
                    <tr>
                        <th class="bg-[#0d467d]">Biaya tes TOEIC</th>
                        <td>Rp 675.000</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="md:flex gap-4 items-center md:py-0 py-4">
            <a href="" class="bg-[#0d467d] font-semibold text-white rounded-md px-2 py-1.5 ">Daftar Sekarang</a>
            <p class="font-bold md:mt-0 mt-4">(Periode 16 Januari 2023 - 04 Maret 2023)</p>
        </div>
        <p>Ayo tingkatkan skill bahasa Inggris Anda sekarag juga. Bersama Pusat Bahasa IIK Bhakta, belajar bahasa Inggris
            jadi lebih mudah dan menyenangkan.</p>
    </div>
</template>

<style scoped>
    ol>li{
        @apply ml-4
    }

    table#tbl-mbl>tbody>tr>td,
    table#tbl-mbl>tbody>tr>th {
        @apply text-sm px-2 py-1
    }

    th {
        @apply font-thin text-white
    } 
</style>