<template>
    <NuxtLayout name="custom">
        <div class="md:flex justify-center md:py-8 relative">
            <div class="btn-wrap">
                <NuxtLink to="/programs/english-for-mapping/sasaran-peserta" class="side-btn">
                    Sasaran Peserta
                </NuxtLink>
                <NuxtLink to="/programs/english-for-mapping/pendaftaran" class="side-btn">Pendaftaran English for Mapping
                </NuxtLink>
                <NuxtLink to="/programs/english-for-mapping/pelaksanaan" class="side-btn">Pelaksanaan English for Mapping
                </NuxtLink>
            </div>
            <div class="btn-wrap-mbl lg:hidden">
                <NuxtLink to="/programs/english-for-mapping/sasaran-peserta" class="side-btn-mbl">
                    Sasaran
                </NuxtLink>
                <NuxtLink to="/programs/english-for-mapping/pendaftaran" class="side-btn-mbl">Pendaftaran
                </NuxtLink>
                <NuxtLink to="/programs/english-for-mapping/pelaksanaan" class="side-btn-mbl">Pelaksanaan
                </NuxtLink>
            </div>
            <div class="md:w-2/3 bg-white px-8 py-6 rounded-2xl rounded-t-none md:rounded-t-2xl">
                <NuxtPage />
            </div>
        </div>
    </NuxtLayout>
</template>

<script setup>
useHead({
    title: 'Program English for Mapping Pusat Bahasa IIK Bhakti Wiyata',
    meta: [
        { name: 'description', content: 'Program English for Mapping pusat bahasa iik bhakti wiyata' }
    ]
})
</script>

<style>

</style>