<template>
    <div>
        <NuxtLayout name="custom">
            <div class="md:flex justify-center md:py-8 gap-2 lg:gap-0">
                <div class="btn-wrap">
                    <NuxtLink to="/programs/kelas-bahasa-inggris/sasaran-peserta" class="side-btn">Sasaran Peserta
                    </NuxtLink>
                    <NuxtLink to="/programs/kelas-bahasa-inggris/internal" class="side-btn">
                        Kelas Bahasa Inggris Internal
                    </NuxtLink>
                    <NuxtLink to="/programs/kelas-bahasa-inggris/umum" class="side-btn">
                        Kelas Bahasa Inggris Umum
                    </NuxtLink>
                </div>
                <div class="btn-wrap-mbl">
                    <NuxtLink to="/programs/kelas-bahasa-inggris/sasaran-peserta" class="side-btn-mbl">Sasaran
                    </NuxtLink>
                    <NuxtLink to="/programs/kelas-bahasa-inggris/internal" class="side-btn-mbl">Internal
                    </NuxtLink>
                    <NuxtLink to="/programs/kelas-bahasa-inggris/umum" class="side-btn-mbl">Umum
                    </NuxtLink>
                </div>
                <div class="md:w-2/3 bg-white md:px-8 md:py-6 p-4 rounded-2xl md:rounded-t-2xl rounded-t-none">
                    <NuxtPage />
                </div>
            </div>
        </NuxtLayout>
    </div>
</template>

<script setup>
const title = 'Program Kelas Bahasa Inggris Pusat Bahasa IIK Bhakti Wiyata'
useHead({
    title: title,
    meta: [
        { name: 'description', content: title }
    ]
})
</script>

<style scoped>
</style>