<template>
    <NuxtLayout name="custom">
        <div class="md:flex justify-center md:py-8 gap-2 lg:gap-0">
            <div class="btn-wrap">
                <NuxtLink to="/programs/kelas-bahasa-mandarin/sasaran-peserta" class="side-btn">Sasaran Peserta
                </NuxtLink>
                <NuxtLink to="/programs/kelas-bahasa-mandarin/pendaftaran" class="side-btn">Pendaftaran Kelas Bahasa
                    Mandarin
                </NuxtLink>
                <NuxtLink to="/programs/kelas-bahasa-mandarin/tes-sertifikat" class="side-btn">Tes & sertifikat Bahasa
                    Mandarin
                </NuxtLink>
            </div>
            <div class="btn-wrap-mbl">
                <NuxtLink to="/programs/kelas-bahasa-mandarin/sasaran-peserta" class="side-btn-mbl">Sasaran
                </NuxtLink>
                <NuxtLink to="/programs/kelas-bahasa-mandarin/pendaftaran" class="side-btn-mbl">Pendaftaran
                </NuxtLink>
                <NuxtLink to="/programs/kelas-bahasa-mandarin/tes-sertifikat" class="side-btn-mbl">Tes & sertifikat
                </NuxtLink>
            </div>
            <div class="md:w-2/3 bg-white px-8 py-6 rounded-2xl rounded-t-none md:rounded-t-2xl">
                <NuxtPage />
            </div>
        </div>
    </NuxtLayout>
</template>

<script setup>
const title = 'Program Kelas Bahasa Mandarin Pusat Bahasa IIK Bhakti Wiyata'
useHead({
    title: title,
    meta: [
        { name: 'description', content: title }
    ]
})
</script>

<style scoped>
</style>