<template>
    <div class="w-full lg:min-h-screen bg-slate-200 bg-gradient-to-tr from-red-400/30 to-indigo-400/30 md:px-8 md:pt-8 p-4">
        <h1 class="md:text-2xl text-xl font-bold capitalize mb-4 md:px-16">Program TOEIC Public (Eksternal)</h1>
        <div class="md:flex">
            <!-- img -->
            <div class="md:w-1/2 md:relative">
                <img src="/img/asset-21.webp" alt="Program TOEIC Public (Eksternal)" class="md:absolute">
            </div>
            <div class="space-y-4 md:w-1/2 text-sm">
                <p>IIK Bhakti Wiyata bekerja sama dengan International Test Center (ITC) dalam mengadakan tes TOEIC
                    Public.</p>
                <p class="font-bold">Ketentuan TOEIC Public di IIK Bhakti Wiyata</p>
                <ol>
                    <li>Tes TOEIC yang disediakan adalah PBT (Paper Based Test).</li>
                    <li>Tes dilaksanakan pada pagi hari 10:00-12:30 WIB di A508 (CBT 1) Lantai 5, Gedung Adipadma.</li>
                    <li> Pendaftaran melalui website ITC <a href="http://www.itc-indonesia.co.id/registration/login.php"
                            target="_blank" class="text-sky-600 font-bold" rel="noopener noreferrer">
                            http://www.itc-indonesia.co.id/registration/login.php
                        </a> Pendaftaran ditutup oleh sistem ITC H-7 menjelang pelaksanaan tes.</li>
                    <li>Biaya tertera di Website ITC yakni 675.000 (tidak termasuk biaya pengiriman hasil tes)</li>
                    <li>Pilih Lokasi “IIK Bhakti Wiyata Kediri"</li>
                    <li>Lakukan Pembayaran dengan nominal tertera</li>
                    <li>Tidak ada sistem refund, bagi peserta yang tidak mengikuti tes TOEIC PBT.</li>
                    <li>Hasil tes dikirimkan ke alamat peserta via jasa ekspedisi, seminggu setelah pelaksanaan tes.</li>
                </ol>
                <p class="font-bold">Syarat Mengikuti Tes TOEIC Public di IIK Bhakti Wiyata</p>
                <ol>
                    <li>Membawa bukti pendaftaran, KTP atau tanda pengenal lain (SIM atau Paspor)</li>
                    <li>Membawa kartu vaksin atau terdaftar di PeduliLindungi (Minimal vaksin dosis kedua)</li>
                    <li>Memakai masker dan mempersiapkan keperluan pribadi yang diperlukan (handsanitizer, dll)</li>
                    <li>Membawa perlengkapan alat tulis (Pensil 2B merek bebas, asalkan bukan pensil mekanik,
                        penghapus, rautan, dan, pen)</li>
                    <li>Tidak diperkenankan membawa makanan dan minuman ke dalam ruangan.</li>
                </ol>

                <p><small>*</small>
                    Peserta akan dihubungi oleh perwakilan Pusat Bahasa IIK Bhakti Wiyata H-5 pelaksanaan tes
                    Narahubung TOEIC Public IIK Bhakti Wiyata <a href="http://wa.me/6285706577707">085706577707</a>
                    (WhatsApp)
                </p>
                <p class="!mt-0"><small>*</small>
                    Jadwal TOEIC Listening and Reading (Public Test) dapat dilihat di <a class="font-bold text-sky-600"
                        href="https://itc-indonesia.com/jadwal-tes/">https://itc-indonesia.com/jadwal-tes/</a>
                </p>
            </div>
        </div>
    </div>
</template>

<script setup>
const title = 'Program TOEIC Public Pusat Bahasa IIK Bhakti Wiyata'
useHead({
    title: title,
    meta: [
        { name: 'description', content: title }
    ]
})
</script>

<style scoped>
    ol {
        @apply !mt-0 list-outside list-decimal
    }

    ol>li{
        @apply ml-4
    }
    
    li {
        @apply pl-3
    }

</style>