<template>
    <div>
        <NuxtLayout name="custom">
            <div class="md:flex justify-center md:py-8">
                <div class="btn-wrap">
                    <NuxtLink to="/programs/program-toeic/sasaran-peserta" class="side-btn">Sasaran Peserta
                    </NuxtLink>
                    <NuxtLink to="/programs/program-toeic/internal" class="side-btn">Pendaftaran TOEIC Internal
                    </NuxtLink>
                    <NuxtLink to="/programs/program-toeic/umum" class="side-btn">TOEIC Umum
                    </NuxtLink>
                    <NuxtLink to="/programs/program-toeic/pelaksanaan" class="side-btn">Pelaksanaan TOEIC
                    </NuxtLink>
                </div>
                <div class="btn-wrap-mbl">
                    <NuxtLink to="/programs/program-toeic/sasaran-peserta" class="side-btn-mbl truncate">Sasaran
                    </NuxtLink>
                    <NuxtLink to="/programs/program-toeic/internal" class="side-btn-mbl truncate">Internal
                    </NuxtLink>
                    <NuxtLink to="/programs/program-toeic/umum" class="side-btn-mbl truncate">Umum
                    </NuxtLink>
                    <NuxtLink to="/programs/program-toeic/pelaksanaan" class="side-btn-mbl truncate">Pelaksanaan TOEIC
                    </NuxtLink>
                </div>
                <div class="md:w-2/3 bg-white md:px-8 md:py-6 p-4 rounded-2xl md:rounded-t-2xl rounded-t-none">
                    <NuxtPage />
                </div>
            </div>
        </NuxtLayout>
    </div>
</template>

<script setup>
const title = 'Program TOEIC Pusat Bahasa IIK Bhakti Wiyata'
useHead({
    title: title,
    meta: [
        { name: 'description', content: title }
    ]
})
</script>

<style scoped>
/* .side-btn {
    @apply lg:bg-none bg-slate-100 px-2 py-0.5 w-full rounded-md ring-1 ring-inset ring-red-500 text-xs
}

a.side-btn.router-link-active {
    @apply px-2 py-0.5 shadow-md shadow-red-500
} */
</style>