
<template>
    <svg xmlns="http://www.w3.org/2000/svg" width="0.96em" height="1em" viewBox="0 0 24 25">
        <path fill="#FFF"
            d="M15.25 12c.966 0 1.75.784 1.75 1.75v4a1.75 1.75 0 0 1-1.75 1.75h-4.775l-.05-.05c.368-.737.575-1.57.575-2.45c0-1.177-.37-2.268-1-3.163V13.5h-.257a5.523 5.523 0 0 0-1.672-1.363c.209-.088.438-.137.679-.137h6.5Zm-3.75 4.5V18h3.75a.25.25 0 0 0 .25-.25V16.5h-4Zm4-1.5v-1.25a.25.25 0 0 0-.25-.25H11.5V15h4Zm2.5 6h-6.025l.512.513c.278.277.443.626.495.987H18a2 2 0 0 0 2-2V10.328a2 2 0 0 0-.586-1.414l-5.829-5.828a.491.491 0 0 0-.049-.04a.63.63 0 0 1-.036-.03a2.072 2.072 0 0 0-.219-.18a.652.652 0 0 0-.08-.044l-.048-.024l-.05-.029c-.054-.031-.109-.063-.166-.087a1.977 1.977 0 0 0-.624-.138a.56.56 0 0 1-.059-.007a.605.605 0 0 0-.082-.007H6a2 2 0 0 0-2 2v7.207a5.5 5.5 0 0 1 1.5-.207v-7A.5.5 0 0 1 6 4h6v4.5a2 2 0 0 0 2 2h4.5v10a.5.5 0 0 1-.5.5Zm-.622-12H14a.5.5 0 0 1-.5-.5V5.121L17.378 9ZM5.5 21.5a4.48 4.48 0 0 0 2.607-.832l2.613 2.612a.75.75 0 1 0 1.06-1.06l-2.612-2.613A4.5 4.5 0 1 0 5.5 21.5Zm0-1.5a3 3 0 1 1 0-6a3 3 0 0 1 0 6Z">
        </path>
    </svg>
</template>
