<template>
    <div ref="navmu" class="md:flex justify-between items-center px-4 md:px-12 lg:px-24 xl:px-28 py-1 bg-white">
        <div class="w-1/12 hidden md:block">
            <NuxtLink to="http://iik.ac.id/"><img src="/img/asset-3.webp" alt="" class="w-2/3"></NuxtLink>
        </div>
        <div class="md:hidden flex items-center justify-between">
            <img src="/img/asset-3.webp" alt="" class="w-1/6">
            <p class="text-xl font-bold text-[rgb(13,70,125)]">Pusat Bahasa</p>
        </div>
        <div class="items-center gap-2 hidden md:flex">
            <NuxtLink class="btn-nav" to="/">Beranda</NuxtLink>
            <div v-for="menu in menus" :key="menu.id">
                <div class="relative group">
                    <button class="btn-nav !w-full" :class="route.fullPath.includes(`/${menu.name}/`) ? '_isactive' : ''">{{
                        menu.id == 1 ? 'Profil' : 'Program' }}</button>
                    <!-- <div class=" nav-drop scale-100 text-black" -->
                    <div class=" nav-drop scale-0 group-hover:scale-100 group-hover:text-black"
                        :class="menu.id == 1 ? 'origin-top-left left-0' : 'origin-top-right right-0'">
                        <div v-for="link in menu.links">
                            <NuxtLink class="btn-drop-nav"
                                :class="route.fullPath.includes(`/${link.slug}/`) ? '_linkisActive' : ''" :to="link.uri">{{
                                    link.name }}</NuxtLink>
                            <!-- :class="route.fullPath.includes(`/${link.slug}/`) ? '!text-4xl' : ''"  -->
                        </div>
                    </div>
                </div>
            </div>
            <NuxtLink class="btn-nav" to="">Event</NuxtLink>
        </div>

        <!-- bottom menu navbar -->
        <div class="relative md:hidden">
            <div class="h-16 w-full bottom-0 left-0 fixed z-50 bg-[rgb(13,70,125)] flex items-center justify-around">
                <!-- @click="(showDropMbl1 = false, showDropMbl2 = flase)"> -->
                <NuxtLink to="/" class="btn-mbl">
                    <img src="/img/asset-10.webp" alt="" class="w-1/4">
                    <p class="text-center">Beranda</p>
                    <span class="_spanLink"></span>
                </NuxtLink>
                <a v-for="menu in menus" :key="menu.id" class="btn-mbl"
                    :class="route.fullPath.includes(`/${menu.name}/`) ? '_mblisactive' : ''"
                    @click="menu.id == 1 ? (showDropMbl2 = false, showDropMbl1 = !showDropMbl1) : (showDropMbl1 = false, showDropMbl2 = !showDropMbl2)">
                    <!-- @blur="showDropMbl1 = false"> -->
                    <!-- @focusout="(showDropMbl1 = false, showDropMbl2 = false)" -->
                    <IProfile class="text-xl" v-if="menu.id == 1" />
                    <IProgram class="text-lg" v-else />
                    <p class="text-center">{{ menu.id == 1 ? 'Profil' : 'Program' }}</p>
                    <span class="_spanLink"></span>
                    <div class="drop-mbl" v-if="menu.id == 1 ? showDropMbl1 : showDropMbl2">
                        <NuxtLink v-for="link in menu.links" class="btn-drop-nav w-full"
                            :class="route.fullPath.includes(`/${link.slug}/`) ? '_linkisActive' : ''" :to="link.uri">{{
                                link.name }}
                        </NuxtLink>
                        <p class="text-indigo-100 absolute left-1/2 -translate-x-1/2 -bottom-4 text-xl">&#9660;</p>
                    </div>
                </a>
                <NuxtLink to="" class="btn-mbl">
                    <IEvent class="text-lg" />
                    <p class="text-center">Event</p>
                    <span class="_spanLink"></span>
                </NuxtLink>
            </div>
        </div>
    </div>
</template>

<script setup >
import { onClickOutside } from "@vueuse/core";
var showDropMbl1 = ref(false)
var showDropMbl2 = ref(false)

// const navmu = ref(null)
// onClickOutside(navmu, () => {
//     showDropMbl1 = false
// })

const route = useRoute()

const menus = [
    {
        id: 1,
        name: 'profile',
        links: [
            {
                name: 'Visi Misi',
                uri: '/profile/visimisi'
            },
            {
                name: 'Struktur Organisasi',
                uri: '/profile/struktur-organisasi'
            }
        ]
    },
    {
        id: 2,
        name: 'programs',
        links: [
            {
                name: 'Program Kelas Bahasa Inggris',
                uri: '/programs/kelas-bahasa-inggris/sasaran-peserta',
                slug: 'kelas-bahasa-inggris'
            },
            {
                name: 'Program Kelas Bahasa Mandarin',
                uri: '/programs/kelas-bahasa-mandarin/sasaran-peserta',
                slug: 'kelas-bahasa-mandarin'
            },
            {
                name: 'Program TOEIC',
                uri: '/programs/program-toeic/sasaran-peserta',
                slug: 'program-toeic'
            },
            {
                name: 'Program English for Mapping',
                uri: '/programs/english-for-mapping/sasaran-peserta',
                slug: 'english-for-mapping'
            },
            {
                name: 'Program TOEIC Public (Eksternal)',
                uri: '/programs/program-toeic-public',
                slug: 'program-toeic-public'
            }
        ]
    }
]
</script>

<style  scoped>

._spanLink {
    @apply relative -bottom-2 bg-white h-1 w-3/4 rounded-t-full translate-y-full
}

.btn-nav {
    @apply uppercase text-sm lg:font-medium w-1/4 px-4 py-1.5 rounded-full text-center transition-all hover:bg-indigo-900 hover:text-white
}

.drop-mbl {
    @apply bg-indigo-50 w-1/2 px-2 py-6 rounded-lg shadow-md shadow-slate-800 text-black absolute bottom-20 space-y-3
}
a.btn-mbl {
    @apply grid place-items-center text-sm text-white w-1/4 py-1 h-16
}


a.router-link-active.btn-mbl>._spanLink,
a._mblisactive>._spanLink{

    @apply -translate-y-full transition-transform delay-150;
    /* box-shadow: inset 0 -10px 5px -10px white;
    @apply border-b-4 border-white */
}

._linkisActive {
    @apply text-indigo-900 font-bold
}

.nav-drop {
    @apply w-[300%] h-auto absolute bg-slate-50 rounded-lg px-6 py-4 top-10 grid text-left space-y-2 transition-all delay-200 shadow-sm z-10
}
.btn-drop-nav {
    @apply text-sm hover:text-indigo-900  hover:font-bold transition-all inline-flex
}

a.router-link-active:not(.btn-nav, .btn-mbl){
    @apply text-indigo-900 font-bold
}
a.router-link-active:not(.btn-drop-nav, .btn-mbl),
._isactive {
    @apply bg-indigo-900 text-white rounded-full
}
</style>