<template>
    <div class="w-full lg:min-h-screen bg-slate-200 bg-gradient-to-tr from-red-400/30 to-indigo-400/30">
        <div class="lg:px-28 lg:py-14 p-6">
            <h1 class="uppercase lg:text-4xl text-xl font-bold tracking-wide lg:mb-0 mb-6">struktur organisasi</h1>
            <div class="grid lg:grid-cols-4 md:grid-cols-3 grid-cols-2 md:gap-4 gap-2 md:my-8">
                <div v-for="org in organisasis" :key="org.nik">
                    <div class="card lg:grid lg:place-items-center space-y-3">
                        <!-- <img :src="`/img/${org.img}.webp`" class="h-[250px] mx-auto" :alt="org.title + ' - ' + org.name" -->
                        <!-- for generate  -->
                        <img :src="`/pusat-bahasa/img/${org.img}.webp`" class="md:h-[250px] h-[180px] mx-auto mt-4 md:mt-0"
                            loading="lazy">
                        <div class="text-center md:text-sm text-xs" style="user-select: none;">
                            <p class="font-bold capitalize">{{ org.title }}</p>
                            <p class="">{{ org.name }}</p>
                            <p v-if="org.subtitle">{{ org.subtitle }}</p>
                            <p class="">NIK {{ org.nik }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
useHead({
    title: 'Struktur Organisasi Pusat Bahasa IIK Bhakti Wiyata',
    meta: [
        { name: 'description', content: 'Struktur organisasi kami' }
    ]
})

const organisasis = [
    {
        name: 'Yeni Nurmala H., S.Pd., M.Pd.',
        title: 'Kepala Pusat Bahasa',
        nik: '2016.0816',
        img: 'org-1'
    },
    {
        name: 'Atik Ulinuha, S.Pd., M.Pd.',
        title: 'staf pengajar bahasa inggris',
        nik: '2008.0230',
        img: 'org-2'
    },
    {
        name: 'Widji Lodharta',
        title: 'staf pengajar bahasa mandarin',
        nik: '2018.0963',
        img: 'org-3'
    },
    {
        name: 'Novita Sari A., S.Pd.',
        title: 'Staf pengajar bahasa mandarin',
        nik: '2016.0816',
        img: 'org-4'
    },
    {
        name: 'Yuliatin Hariyati S.Pd.',
        title: 'staf pengajar bahasa mandarin',
        nik: '2019.1042',
        img: 'org-5'
    },
    {
        name: 'Aryief Hidayatullah, B.ed.',
        title: 'staf pengajar bahasa mandarin',
        nik: '2019.5041',
        img: 'org-6'
    },
    {
        name: 'Nandya Putri Pratama, S.S.',
        title: 'staf administrasi',
        nik: '2021.1161',
        img: 'org-7'
    },
    {
        name: 'Dra. Hilarius Semana, M.Pd.',
        title: 'staf pengajar bahasa inggris',
        subtitle: '(Part-time)',
        nik: '1989.0019',
        img: 'org-8'
    },
    {
        name: 'Palupi Susilowati, S.S., M.Pd.',
        title: 'staf pengajar bahasa inggris',
        subtitle: '(Part-time)',
        nik: '2009.0327',
        img: 'org-9'
    },
]
</script>

<style scoped></style>