<template>
    <div class="w-full lg:min-h-screen bg-slate-200 bg-gradient-to-tr from-red-400/30 to-indigo-400/30">
        <div class="lg:px-28 md:px-14 lg:py-14 md:py-14 p-6">
            <h1 class="uppercase text-4xl font-bold tracking-wide">visi misi</h1>
            <div class="flex lg:flex-row flex-col-reverse items-center md:items-start gap-2">
                <div class="lg:w-1/2 space-y-6 py-8 lg:text-sm xl:text-base">
                    <div class="">
                        <p class="font-bold uppercase">visi</p>
                        <p>Menjadi penyedia layanan bahasa yang kompetitif dalam rangka meningkatkan
                            kualitas sumber daya manusia yang unggul dan mampu berperan aktif dalam
                            pembangunan bangsa.</p>
                    </div>
                    <div class="">
                        <p class="font-bold uppercase">misi</p>
                        <ol class="list-decimal list-outside">
                            <li>Menyelenggarakan pembelajaran bahasa asing (Inggris dan Mandarin) bagi
                                civitas akademika IIK Bhakta Kediri.</li>
                            <li>Memberikan pelatihan bahasa asing (Inggris dan Mandarin) kepada civitas
                                akadermika IIK Bhakta Kediri.</li>
                            <li>Memberikan pelayanan penerjemahan bahasa asing kepada civitas akademika
                                IIK Bhakta Kediri.</li>
                            <li>Menjalinan kerjasama antar lembaga di luar IIK Bhakta guna meningkatkan
                                mutu dan layanan.</li>
                        </ol>
                    </div>
                    <div class="">
                        <p class="font-bold uppercase">program</p>
                        <ol class="list-decimal list-outside">
                            <li>
                                Menyelenggarakan pembelajaran bahasa Inggris di program kelas bahasa
                                Inggris persiapan TOEIC bagi seluruh mahasiswa IIK Bhakta Kediri dalam satu
                                level/tahap.
                            </li>
                            <li>
                                Menyelenggarakan pembelajaran bahasa Mandarin di program kelas bahasa
                                Mandarin bagi seluruh mahasiswa IIK Bhakta Kediri dalam dua level.
                            </li>
                            <li>
                                Menyelenggarakan tes English for Mapping bekerjasama dengan International
                                Test Centre (ITC) bagi mahasiswa baru sebagai prasyarat mengikuti kelas
                                bahasa Inggris persiapan TOEIC.
                            </li>
                            <li>
                                Menyelenggarakan TOEIC bekerjasama dengan International Test Centre (ITC)
                                bagi mahasiswa yang telah menyelesaikan kelas Bahasa Inggris guna
                                mendapatkan sertifikat TOEIC sebagai salah satu syarat wisuda.
                            </li>
                            <li>
                                Menyelenggarakan TOEIC bagi dosen IIK Bhakta Kediri dan masyakarat umum.
                            </li>
                            <li>
                                Menyelenggarakan tes Bahasa Mandarin bagi mahasiswa IIK Bhakta Kediri
                            </li>
                            <li>
                                Mengeluarkan sertifikat bahasa Mandarin bagi mahasiswa yang sudah lulus
                                kelas bahasa Mandarin.
                            </li>
                            <li>
                                Memberikan layanan penerjemah/alih bahasa Inggris dan Mandarin bagi civitas
                                akadernika IIK Bhakta Kediri.
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="lg:w-1/2 md:w-2/3 w-5/6 self-center lg:self-start">
                    <img src="/img/asset-11.webp" class="" alt="visi dan misi pusat bahasa iik bhakti wiyata">
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
useHead({
    title: 'Visi Misi Pusat Bahasa IIK Bhakti Wiyata',
    meta: [
        { name: 'description', content: 'Visi dan misi pusat bahasa iik bhakti wiyata' }
    ]
})

</script>

<style scoped>
ol>li {
    margin-left: 1rem;
}
</style>