<template>
    <div class="w-full lg:min-h-screen bg-slate-200 bg-gradient-to-tr from-red-400/30 to-indigo-400/30 p-2">
        <div class="w-full md:w-11/12 lg:w-5/6 mx-auto lg:py-14">
            <h1 class="md:text-2xl text-xl lg:text-3xl font-bold capitalize mb-4 px-2">{{ title() }}</h1>
            <div>
                <slot />
            </div>
        </div>
    </div>
</template>

<script setup>
const route = useRoute()

const title = () => {
    let rArray = route.fullPath.split('/')
    let title = rArray[2].replace(/-/g, ' ')
    return rArray[2] == 'program-toeic' ? 'Program TOEIC' : rArray[1].replace(/.$/, '') + ' ' + title
}
</script>

<style scoped>
</style>