<template>
    <div>
        <!-- =========== header =========== -->
        <Navbar />
        <!-- =========== header =========== -->

        <slot />

        <!-- =========== footer =========== -->
        <div class="w-full bg-[url('/img/asset-4.webp')] bg-cover bg-center mb-16 md:mb-0"
            :class="route.fullPath.includes('program-toeic-public') ? 'relative z-20' : 'ndaklo'">
            <div class="md:flex justify-between items-start lg:py-12 p-4 lg:px-20">
                <div class="lg:w-1/5 w-1/2 ">
                    <NuxtLink to="https://iik.ac.id/"><img src="/img/asset-10.webp" alt="" class="w-1/2">
                    </NuxtLink>
                </div>
                <div class="lg:w-2/5 text-white space-y-2 py-4 lg:py-0">
                    <h3 class="font-medium md:tracking-wide text-lg">Institut Ilmu Kesehatan Bhakti Wiyata </h3>
                    <div class="md:flex justify-between items-center ">
                        <div class="md:w-2/3 space-y-3">
                            <div class="flex footer-item">
                                <img src="/img/asset-7.webp" alt="">
                                <p>Jl. KH. Wahid Hasyim 65 Kediri, 64114 - Jawa Timur</p>
                            </div>
                            <div class="flex footer-item">
                                <img src="/img/asset-5.webp" alt="">
                                <a href="mailto:pusatbahasa@iik.ac.id">Pusatbahasa@iik.ac.id</a>
                            </div>
                            <div class="flex footer-item">
                                <img src="/img/asset-6.webp" alt="">
                                <p>Jam Operasional : 07.00-15.00 WIB </p>
                            </div>
                            <div class="flex footer-item">
                                <img src="/img/asset-8.webp" alt="">
                                <a href="https://t.me/pusatbahasa/">@pusatbahasa</a>
                            </div>
                            <div class="flex footer-item">
                                <img src="/img/asset-9.webp" alt="">
                                <a href="https://www.instagram.com/pusatbahasa.iikbw/">pusatbahasa.iikbw</a>
                            </div>
                        </div>
                        <div class="w-1/3 h-full hidden md:block">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d538.8116192820244!2d112.00567632095293!3d-7.81738692213297!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xafc394ffd8990c4d!2sInstitut%20Ilmu%20Kesehatan%20Bhakti%20Wiyata!5e0!3m2!1sid!2sid!4v1640838293695!5m2!1sid!2sid"
                                width="100%" height="100" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="relative lg:bottom-0 md:bottom-2 bottom-3">
                <p class="md:text-right md:pr-20 lg:pt-6 py-0 text-white text-center">&copy;
                    <span class="md:ml-8">IIK Bhakti Wiyata</span>
                </p>
            </div>
        </div>
        <!-- =========== footer =========== -->
    </div>
</template>

<script setup>
const route = useRoute()
</script>


<style scoped>
  
.footer-item {
    @apply items-center justify-start gap-3 divide-x-2
}

.footer-item>img {
    @apply w-[5%]
}

.footer-item>*:not(img) {
    @apply text-sm font-thin pl-3
}
</style>