<template>
    <div class="lg:min-h-screen w-full">
        <div class="relative">
            <img src="/img/asset-1.webp" alt="punggawa pusat bahasa iik bhakta" class="w-full" loading="lazy">
            <h1 style="user-select: none;"
                class="absolute grid w-full text-center px-4 md:px-0 top-[10%] left-1/2 -translate-x-1/2 -space-y-2">
                <span class="lg:text-4xl md:text-2xl text-sm font-sans font-semibold">Welcome to</span>
                <span class="lg:text-6xl sm:text-xl md:text-3xl font-bold text-[rgb(13,70,125)]">Pusat Bahasa</span>
                <span class="font-serif lg:text-5xl sm:text-2xl md:text-xl text-lg text-[rgb(13,70,125)]"> <em>Bhakti
                        Wiyata</em></span>
            </h1>
        </div>
        <div class="lg:flex lg:w-4/5 justify-between items-center mx-auto lg:py-12 py-4 lg:px-0 px-4">
            <div class="lg:w-1/2 w-full md:mb-4 mb-2">
                <img src="/img/asset-3.webp" class="w-1/3 md:w-1/4 lg:w-2/3 mx-auto" alt="Pusat Bahasa IIK Bhakta"
                    loading="lazy">
            </div>
            <div class="lg:w-3/4 lg:text-base text-sm space-y-3 text-justify">
                <p>Lahirnya Pusat Bahasa IIK Bhakta Kediri diawali dengan lahirnya program khusus kelas
                    bahasa Inggris dan
                    Mandarin bagi mahasiswa sebagai pilot projects pada tahun 2018. Pentingnya penguasaan bahasa asing
                    agar bisa bersaing secara global menjadikan dasar IK Bhakta Kediri untuk mendirikan Pusat Bahasa sebagai
                    salah satu unit penunjang yang menyediakan layanan bahasa bagi sivitas akademika untuk meningkatkan
                    kemampuan berbahasa asing yaitu bahasa Inggris dan Mandarin.
                </p>
                <p>
                    Sejak tahun 2018, Pusat Bahasa menjalankan program kelas bahasa Inggris dan Mandarin bagi mahasiswa
                    untuk mendapatkan sertifikat yang bisa digunakan sebagai syarat wisuda, nilai tambah pada CV (Curriculum
                    Vitae) untuk melamar kerja, hingga syarat mengajukan beasiswa maupun studi lanjut. Sampai dengan saat
                    ini, Pusat Bahasa IIK Bhakta membawahi dua pelayanan pembelajaran bahasa yaitu bahasa Inggris dan
                    bahasa Mandarin.
                </p>
            </div>
        </div>
        <div class="hidden md:block">
            <img src="/img/asset-2.webp" alt="sanksi penyalahgunaan logo toeic & ets" srcset="" loading="lazy">
        </div>
    </div>
</template>