<template>
    <div class="space-y-3 lg:min-h-[40vh] text-sm text-justify">
        <h1 class="font-bold mb-3 capitalize text-base">Pelaksanaan English for Mapping</h1>
        <p class="text-justify">IK Bhakta bekerjasama dengan ITC Jakarta dalam menyelenggarakan tes English for
            Mapping,
            Pelaksanaan tes English for Mapping dilakukan melalui 2 cara yaitu:
        </p>
        <p class="font-bold">1. Tes dilakukan secara luring (on-site), dengan mekanisme sebagai berikut.</p>
        <ol class="list-outside !mt-0 mb-6" style="list-style-type: lower-alpha;">
            <li>Tes dilakukan di ruang CBT lantai 5 Adipadma. Panitia internal akan order ruangan menggunakan
                system RBS (Room Booking System) melalui tautan <a href="http:/iik.ac.id/rbs">http:/iik.ac.id/rbs</a>
                selambat-lambatnya H-7 tes.</li>
            <li>Jenis tes adalah CBT (Computer Based Test) tes terdiri dari reading dan listening dengan jumlah
                200 soal dalam waktu 2 jam.</li>
            <li>Yang bertindak sebagai supervisor atau pengawas adalah koordinator dari ITC dibantu oleh tim
                panitia internal dari Pusat Bahasa.</li>
            <li>Peserta tes hadir selambat-lambatnya 10 menit sebelum tes dimulai.</li>
            <li>Peserta membawa KTP/KTM dan menunjukkan ke pengawas.</li>
            <li>Jumlah peserta tes adalah sedikitnya 50 orang per sesi tes.</li>
            <li>H-1 tes akan dilaksanakan readiness check untuk mengecek kesiapan jaringan dan system tes yang
                melibatkan tim IT dan CBT IK Bhakta.</li>
        </ol>
        <p class="font-bold">Adapun syarat pelaksanaan TOEIC on-site di era pandemi adalah sebagai berikut:</p>
        <ol class="list-outside !mt-0 mb-6" style="list-style-type: lower-alpha;">
            <li>Peserta tes harus menunjukkan sertifikat vaksin Covid-19. Vaksinasi harus 2 kali, apabila hanya 1 kali
                atau belum vaksin sama sekali maka harus
                swab antigen H-1 tes.</li>
            <li>Peserta wajib menggunakan masker dan membawa handsanitiser serta handscoon.</li>
            <li>Peserta membawa alat tulis sendiri.</li>
            <li>Jumlah peserta tes adalah sedikitnya 50 orang per sesi tes atau &frac34; dari total kapasitas. Jika tes
                terdiri dari sesi pagi dan siang, maka dipastikan
                ada jeda waktu agar peserta tidak berkerumun.</li>
            <li>Pemesanan ruangan CBT menggunakan RBS pada H-7 tes</li>
        </ol>

        <p class="font-bold">2. Tes dilakukan secara daring (TFH)</p>
        <p class="!mt-0">Sebagai upaya untuk memutus mata rantai penyebaran virus Covid-19, Pusat Bahasa bekerjasama
            dengan ITC menyelenggarakan tes English for Mapping dilakukan secara daring atau Test From Home
            (TFH) dengan persyaratan remote test/tes jarak jauh dari ITC sebagai berikut.</p>
        <ol class="list-outside mb-6" style="list-style-type: lower-alpha;">
            <li>
                Pada pelaksanaan tes English for Mapping TFH, H-1 tes dilaksanakan readiness check dan sosialisasi
                oleh tim supervisor ITC dan tim pengawas internal Pusat Bahasa. Tim ITC akan menghubungi
                peserta tes melalui nomor Whatsapp yang telah dimasukkan saat mendaftar tes di OASIS.
            </li>

            <li>
                Jenis tes adalah CBT (Computer Based Test) tes terdiri dari reading dan listening dengan jumlah
                200 soal dalam waktu 2 jam
            </li>

            <li>
                Yang bertindak sebagai supervisor atau pengawas adalah koordinator dari ITC dibantu oleh tim
                pengawas internal dari Pusat Bahasa dan tim CBT IIK Bhakta.
            </li>

            <li>
                Jumlah peserta tes adalah 150 orang per sesi tes, satu hari bisa dilaksanakan 2 sesi tes.
            </li>

            <li>
                Peserta tes mematuhi aturan dan tata tertib tes.
            </li>
        </ol>

        <p class="font-bold">Beberapa informasi terkait pelaksanaan tes English for Mapping diantaranya:</p>
        <ol class="list-outside mb-6 !mt-0" style="list-style-type: lower-alpha;">
            <li>
                Tes English for Mapping terselenggara dengan minimal kuota 50 peserta.
            </li>

            <li>
                Mahasiswa yang mengikuti tes English for Mapping adalah mahasiswa yang akan mengikuti kelas
                bahasa Inggris/kelas persiapan TOEIC.
            </li>

            <li>
                Nilai hasil tes English for Mapping bisa dilihat di OASIS mahasiswa setidaknya H+15 setelah tes
                berlangsung dan setelah proses sinkronisasi data dari ITC ke OASIS. Untuk tes English for Mapping
                tidak tersedia sertifikat/score roster yang diberikan ke mahasiswa namun terdapat score report dari
                ITC sebagai dokumentasi Pusat Bahasa.
            </li>
        </ol>


    </div>
</template>

<script setup>

</script>

<style scoped>
ol>li {
    @apply ml-5
}
</style>