<template>
    <div class="space-y-3 lg:min-h-[40vh] text-sm">
        <h1 class="font-bold capitalize text-base">Pendaftaran tes English for Mapping</h1>
        <p class="text-justify text-sm">Pendaftaran tes English for Mapping dibuka setidaknya dua kali dalam satu tahun
            akademik yaitu
            setiap sebelum semester gasal atau genap dimulai, yaitu di bulan Februari dan Agustus. Informasi
            tentang pendaftaran English for Mapping ini akan dikeluarkan oleh Direktur Akademik melalui surat
            edaran pemberitahuan English for Mapping ke fakultas dan prodi melalui e-letter. Mahasiswa
            melakukan pendaftaran English for Mapping melalui OASIS selambat-lambatnya 2 minggu sebelum
            pelaksanaan tes dengan tahapan sebagai berikut.
        </p>
        <div class="space-y-3 px-4 text-sm">
            <div class="flex md:gap-6 gap-2">
                <img src="/img/asset-22.webp" class="w-1/4 md:w-1/5" alt="">
                <p class="md:w-4/5 w-3/4">1. Masuk OASIS di menu Pendaftaran Tes Kelas Bahasa.</p>
            </div>
            <div class="flex md:gap-6 gap-2">
                <img src="/img/asset-33.webp" class="w-1/4 md:w-1/5" alt="">
                <p class="md:w-4/5 w-3/4">2. Pilih jenis tes yang akan diikuti, klik English for Mapping.</p>
            </div>
            <div class="flex md:gap-6 gap-2">
                <img src="/img/asset-24.webp" class="w-1/4 h-full md:w-1/5" alt="">
                <p class="md:w-4/5 w-3/4">3. Tahun ajaran diisi sesuai dengan tahun akademik yang sedang berlangsung.
                    Tanggal, jam
                    dan sesi tes diisi sesuai dengan jadwal tes yang dikehendaki. kolom note wajib diisi nomor Whatsapp
                    aktif peserta tes. Klik Simpan.</p>
            </div>
        </div>
    </div>
</template>

<script setup>

</script>