<template>
    <div class="space-y-3 lg:min-h-[40vh] text-sm">
        <h1 class="font-bold capitalize text-base">sasaran peserta</h1>
        <p class="text-justify text-sm">Dalam upaya melakukan klasifikasi kelas, Pusat Bahasa menyelenggarakan tes English
            for
            Mapping bagi mahasiswa baru program studi D3, D4 dan S1 program regular dan progsus
            (kecuali program Alih Jenjang dan RPL) sebelum mengikuti kelas bahasa Inggris. Tes ini
            digunakan sebagai prasyarat mengikuti kelas bahasa Inggris atau kelas persiapan TOEIC.
            Dalam pelaksanaan tes English for Mapping, IIK Bhakta telah menjalin kerjasama dengan
            International Test Center (ITC) sebagai lembaga resmi penyelenggara tes kemampuan bahasa
            Inggris yang diakui secara internasional.
        </p>
    </div>
</template>

<script setup>
</script>